@model IEnumerable<WebadmiClient.Models.Cotizaciones>

@{
    ViewBag.Title = "Index";
}



<div class="btn btn-primary m-3">
    <a href="@Url.Action("Create")" class="btn-link">Crear</a>
</div>
@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClienteNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClienteDireccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteDireccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<style>
    .btn-link {
        text-decoration: none; /* Elimina el subrayado */
        color: inherit; /* Mantiene el color original del texto */
        cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    }
</style>