@model IEnumerable<WebadmiClient.Models.MovimientoCuenta>

@{
    ViewBag.Title = "Index";
}



<div class="btn btn-primary m-3">
    <a href="@Url.Action("Create")" class="btn-link">Crear</a>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fhmovimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Importe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
      
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fhmovimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Importe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
<style>
    .btn-link {
        text-decoration: none; /* Elimina el subrayado */
        color: inherit; /* Mantiene el color original del texto */
        cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    }
</style>