

@model WebadmiClient.Models.Login

@using (Html.BeginForm("Login", "Login", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <div>
        <p>LOGIN</p>
        @Html.LabelFor(model => model.NombreUsuario, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.TextBoxFor(model => model.NombreUsuario, htmlAttributes: new { @class = "control-label col-md-2" })
    </div>
    <div>
        @Html.LabelFor(model => model.Contraseña, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.PasswordFor(model => model.Contraseña, htmlAttributes: new { @class = "control-label col-md-2" })
    </div>
    <div>
        <input type="submit" value="Iniciar Sesión" />
    </div>
}